// Reset
html,
body {
	background-color: #fff;
	margin: 0px;
	padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
span {
	font-size: 16px;
	color: #000;
	display: block;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	font-weight: 100;
}

/* 
---------- 
Colours
----------
*/

$colour_primary: #82d5f7;
$colour_primary_contrast: #37c2f9;
$colour_secondary: #ff8600;
$grey-light: #f1f1f1;
$grey: #999999;

/* 
---------- 
Header
----------
*/

.main_header {
	display: flex;
	background-color: $colour_primary;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 100;
	ul {
		padding: 0;
		list-style: none;
	}
	li h3 {
		color: #fff;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
		font-size: 20px;
		padding: 10px;
	}
	li.logo {
		margin-left: auto;
		margin-right: auto;

		img {
			display: none;
			@media (min-width: 678px) {
				display: inline;
				height: 40px;
				max-width: 100%;
				/* border: 1px solid #fff; */
				border-radius: 50%;
				box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
			}
		}
	}
	li.nav_button {
		background-color: $colour_primary_contrast;
		padding: 5px;
		border-radius: 5px;
		background-color: #37c2f9;
		padding: 5px 10px;
		border-radius: 5px;
		margin-right: 10px;
		color: #fff;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
		cursor: pointer;
	}
	li.search_button {
		padding: 5px;
		padding: 5px 10px;
		border-radius: 5px;
		margin-right: 10px;
		color: #fff;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
		display: inline-block;
		-webkit-font-smoothing: antialiased;
		font-size: 30px !important;
		cursor: pointer;
	}
	div.dashicons,
	.dashicons-before:before {
		display: flex;
		width: 30px;
		height: 30px;
		font-size: 30px;
		line-height: 1;
		font-family: dashicons;
		text-decoration: inherit;
		font-weight: normal;
		font-style: normal;
		align-items: center;

		text-align: center;
		transition: color .1s ease-in 0;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.event_nav {
	display: none;
	position: fixed;
	width: 300px;
	border: 1px solid #e0e0e0;
	right: 50px;
	top: 30px;
	border-radius: 5px;
	background-color: #fff;
	// padding: 5px 0px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	z-index: 101;
	li {
		cursor: pointer;
	}

	a {
		border-bottom: 1px solid #f1f1f1;
		padding: 10px 10px;
		margin: 0px 10px;
		text-decoration: none;
	}
	a:visited {
		color: #000;
	}
	a.active {
		color: $colour_primary_contrast;
	}
	li:last-child a {
		border-bottom: none;
	}
	li:hover {
		background-color: #f1f1f1;
	}
}

.showmenu {
	display: block;
}

/* 
---------- 
Body
----------
*/

// .page {
// 	margin: 50px 0 1.5em;
// }
.body_push {
	margin-top: 50px !important;
}

/* 
---------- 
Events
----------
*/

.event_selector {
	max-width: 750px;
	margin: 25px auto;
	overflow: scroll;
	overflow-y: hidden;
	&::-webkit-scrollbar {
		width: 0.3em;
		height: 0.3em;
	}

	// &::-webkit-scrollbar-track {
	// 	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	// }

	&::-webkit-scrollbar-thumb {
		background-color: $colour_primary;
		border-radius: 5px;
	}
	@media (min-width: 1000px) {
		max-width: 1000px;
	}
	ul {
		display: grid;
		grid-template-columns: 150px 150px 150px 150px 150px;
		grid-template-rows: 220px;
		@media (min-width: 1000px) {
			grid-template-columns: 200px 200px 200px 200px 200px;
			grid-template-rows: 270px;
		}
	}
	li {
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
		margin: 5px;
		border-radius: 5px;
		display: flex;
		align-items: flex-end;
		padding: 10px 18px;
		margin-bottom: 10px;
	}
}

/* 
---------- 
Homepage Title
----------
*/

.white_title {
	max-width: 365px;
	margin: 50px auto;
	h1 {
		font-size: 32px;
	}
	span.indent {
		padding-left: 30px;
		font-size: 32px;
	}
}

/* 
---------- 
Listings
----------
*/

.page_title {
	width: 100%;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	h1 {
		font-size: 32px;
	}
}

.events {
	max-width: 380px;
	margin: auto;
	margin-bottom: 500px;
	// padding: 10px;
	h4.date_heading {
		padding: 40px 0px;
		font-size: 19px;
	}
	@media (min-width: 500px) {
		max-width: 450px;
	}
	@media (min-width: 650px) {
		max-width: 700px;
	}
	@media (min-width: 780px) {
		max-width: 800px;
	}
	ul {
		display: grid;
		grid-gap: 10px;
		margin-bottom: 20px;
		grid-template-columns: repeat(2, 48.5%);
		margin: auto;
		@media (min-width: 450px) {
			grid-template-columns: repeat(2, 50%);
			max-width: 400px;
		}
		@media (min-width: 650px) {
			grid-template-columns: repeat(3, 33%);
			max-width: 600px;
		}
		@media (min-width: 780px) {
			grid-template-columns: repeat(4, 25%);
			max-width: 800px;
		}
		// @media (min-width: 1000px) {
		// 	grid-template-columns: repeat(5, 20%);
		// 	max-width: 1000px;
		// }
	}
	li {
		border-radius: 5px;
		// box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
		position: relative;
	}
	div.event_image {
		height: 220px;
		overflow: hidden;
		border-radius: 5px 5px 3px 3px;
		@media (min-width: 450px) {
			height: 250px;
		}
	}
	div.popout {
		position: absolute;
		top: 190px;
		right: 10px;
		width: 50px;
		height: 50px;
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
		color: $colour_secondary;
		@media (min-width: 450px) {
			top: 215px;
		}
	}
	div.free {
		left: 0px;
		top: 10px;
		height: 30px;
		border-radius: 0px 3px 3px 0px;
		background-color: $colour_secondary;
		color: #fff;
	}
	div.description {
		padding: 25px 0px 25px;
		h3 {
			font-size: 19px;
		}
		p {
			font-size: 15px;
			color: #6f7287;
		}
	}
}

.no-events,
.no-events a {
	display: inline;
}

.listings {
	max-width: 500px;
	margin: 0px auto;
	ul {
		margin: 0px 20px;
	}
	li {
		display: grid;
		grid-template-columns: 20px auto 20px;
		grid-gap: 24px;
		border-top: 1px solid $grey-light;
		padding: 20px 0px;
	}
}

/* 
---------- 
Event Page
----------
*/

.events_page {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto;
	grid-template-areas: 'details' 'map' 'image' 'description';
	grid-gap: 10px;
	row-gap: 30px;
	padding: 10px;
	@media (min-width: 750px) {
		grid-template-columns: 250px auto;
		grid-template-rows: auto auto;
		grid-template-areas: 'map details' 'image description';
		margin: auto;
		max-width: 800px;
		padding: 40px 10px;
	}

	section.event_map {
		grid-area: map;
		background-color: #e0e0e0;
		border-radius: 5px;
	}

	section.event_details {
		grid-area: details;
		h1 {
			font-size: 30px;
		}
		p.organiser {
			color: $grey;
			padding-left: 2px;
			margin-bottom: 10px;
		}
		p.free {
			margin-top: 10px;
			color: #fff;
			border-radius: 3px;
			background-color: $colour_secondary;
			width: 60px;
			text-align: center;
			padding: 5px;
		}
		p.price {
			margin-top: 10px;
		}
		div {
			padding: 10px;
			background-color: #f7f7f7;
			margin-top: 10px;
			border-radius: 5px;
			box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
			display: grid;
			grid-template-columns: auto 100px;
			section:last-child {
				display: flex;
				align-items: center;
				a {
					padding: 7px 10px;
					background-color: $colour_secondary;
					color: #fff;
					border-radius: 5px;
				}
			}
		}
	}

	section.event_image {
		grid-area: image;
		height: 360px;
		overflow: hidden;
		border-radius: 5px;
	}

	section.event_description {
		grid-area: description;
		h2 {
			font-size: 24px;
			margin-bottom: 10px;
		}
	}
}

// Reset
html,
body {
	background-color: #fff;
	margin: 0px;
	padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
span {
	font-size: 16px;
	color: #000;
	display: block;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	font-weight: 100;
}

.gallery {
	margin-bottom: 0px;
}

/* 
---------- 
Colours
----------
*/

$colour_primary-light: #d6edf7;
$colour_primary: #82d5f7;
$colour_primary_contrast: #37c2f9;
$colour_secondary: #ff8600;
$colour-grey-lighter: #f1f1f1;
$colour-grey: #999999;
$colour-grey-dark: #585858;
$colour-grey-darkest: #343434;
$colour-white: #fff;

/* 
---------- 
Header
----------
*/

.main_header {
	display: flex;
	background-color: $colour_primary;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 100;
	ul {
		padding: 0;
		list-style: none;
	}
	li h3 {
		color: $colour-white;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
		font-size: 20px;
		padding: 10px;
	}
	li.logo {
		margin-left: auto;
		margin-right: auto;

		img {
			display: none;
			@media (min-width: 678px) {
				display: inline;
				height: 40px;
				max-width: 100%;
				/* border: 1px solid $colour-white; */
				border-radius: 50%;
				box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
			}
		}
	}
	li.nav_button {
		background-color: $colour_primary_contrast;
		padding: 5px;
		border-radius: 5px;
		background-color: $colour_primary_contrast;
		padding: 5px 10px;
		border-radius: 5px;
		margin-right: 10px;
		color: $colour-white;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
		cursor: pointer;
	}
	li.search_button {
		display: flex;
		align-items: center;
		padding: 5px;
		padding: 5px 10px;
		border-radius: 5px;
		margin-right: 10px;
		color: $colour-white;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
		-webkit-font-smoothing: antialiased;
		font-size: 30px !important;
		cursor: pointer;
		form {
			display: none;
			@media (min-width: 678px) {
				display: flex;
			}
			input {
				display: flex;
				border: none;
				outline: 0;
				background-color: $colour_primary_contrast;
				color: #fff;
				padding: 5px 10px;
				box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
				border-radius: 5px;
				&::placeholder {
					color: $colour-white;
				}
			}
		}
	}
	div.dashicons,
	.dashicons-before:before {
		display: flex;
		width: 30px;
		height: 30px;
		font-size: 30px;
		line-height: 1;
		font-family: dashicons;
		text-decoration: inherit;
		font-weight: normal;
		font-style: normal;
		align-items: center;

		text-align: center;
		transition: color .1s ease-in 0;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		@media (min-width: 678px) {
			display: none;
		}
	}
}

.event_nav {
	display: none;
	position: fixed;
	width: 300px;
	border: 1px solid #e0e0e0;
	right: 50px;
	top: 30px;
	border-radius: 5px;
	background-color: $colour-white;
	// padding: 5px 0px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	z-index: 101;
	li {
		cursor: pointer;
	}

	a {
		border-bottom: 1px solid $colour-grey-lighter;
		padding: 10px 10px;
		margin: 0px 10px;
		text-decoration: none;
	}
	a:visited {
		color: #000;
	}
	a.active {
		color: $colour_primary_contrast;
	}
	li:last-child a {
		border-bottom: none;
	}
	li:hover {
		background-color: $colour-grey-lighter;
	}
}

.showmenu {
	display: block;
}

/* 
---------- 
Body
----------
*/

// .page {
// 	margin: 50px 0 1.5em;
// }
.body_push {
	margin-top: 50px !important;
}

/* 
---------- 
Search Form
----------
*/
.screen_search_form {
	display: none;
	position: fixed;
	background: rgba(0, 0, 0, 0.88);
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	color: #fff;
	z-index: 100;

	form {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	input {
		width: 80%;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid #fff;
		border-radius: 1px;
		font-size: 35px;
		font-weight: 100;
		outline: 0;
		color: #fff !important;
		&::placeholder {
			color: #fff;
		}
	}
}

.screen_search_form.active_search {
	display: flex;
}

.search_results {
	max-width: 380px;
	margin: auto;
	margin-bottom: 500px;
	// padding: 10px;
	h4.date_heading {
		padding: 40px 0px;
		font-size: 19px;
	}
	@media (min-width: 500px) {
		max-width: 450px;
	}
	@media (min-width: 650px) {
		max-width: 700px;
	}
	@media (min-width: 780px) {
		max-width: 800px;
	}
	ul {
		display: grid;
		grid-gap: 10px;
		margin-bottom: 20px;
		grid-template-columns: repeat(2, 48.5%);
		margin: auto;
		@media (min-width: 450px) {
			grid-template-columns: repeat(2, 50%);
			max-width: 400px;
		}
		@media (min-width: 650px) {
			grid-template-columns: repeat(3, 33%);
			max-width: 600px;
		}
		@media (min-width: 780px) {
			grid-template-columns: repeat(4, 25%);
			max-width: 800px;
		}
		// @media (min-width: 1000px) {
		// 	grid-template-columns: repeat(5, 20%);
		// 	max-width: 1000px;
		// }
	}
	li {
		border-radius: 5px;
		// box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
		position: relative;
	}
	div.event_image {
		height: 220px;
		overflow: hidden;
		border-radius: 5px 5px 3px 3px;
		@media (min-width: 450px) {
			height: 250px;
		}
	}
	div.description {
		padding: 15px 0px 15px;
		h3 {
			font-size: 19px;
		}
		p {
			font-size: 15px;
			color: #6f7287;
		}
	}
}

/* 
---------- 
Events
----------
*/

.event_selector {
	max-width: 750px;
	margin: 25px auto;
	overflow: scroll;
	overflow-y: hidden;
	&::-webkit-scrollbar {
		width: 0.3em;
		height: 0.3em;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $colour_primary;
		border-radius: 5px;
	}
	ul {
		display: grid;
		grid-template-columns: 150px 150px 150px 150px 150px;
		grid-template-rows: 220px;
	}
	li {
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
		margin: 5px;
		border-radius: 5px;
		display: flex;
		align-items: flex-end;
		margin-bottom: 10px;
		position: relative;
		height: 200px;
		@media (min-width: 1000px) {
			height: auto;
		}
	}
	a {
		height: 100%;
		width: 100%;
	}
	div.event_image {
		border-radius: 5px 5px 3px 3px;
		overflow: hidden;
		height: 200px;
	}
	div.event_title {
		position: absolute;
		display: flex;
		align-items: center;
		left: 0px;
		bottom: 0px;
		height: 120px;
		border-radius: 0px 0px 3px 3px;
		color: #fff;
		text-align: left;
		width: 100%;
		background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0.8)
		);
	}
	div.event_title h3 {
		color: #fff;
		line-height: 30px;
		padding: 0px 10px;
		border-radius: 0px 0px 3px 3px;
		position: absolute;
		top: 65px;
		font-size: 18px;
	}
	div.event_title p {
		display: block;
		position: absolute;
		top: 92px;
		padding-left: 10px;
		color: #fff;
		font-size: 13px;
	}
}
@media (min-width: 1000px) {
	.event_selector {
		max-width: 1000px;
		ul {
			grid-template-columns: 200px 200px 200px 200px 200px;
			grid-template-rows: auto;
		}
		div.event_image {
			height: 270px;
		}
		div.event_title h3 {
			font-size: 20px;
		}
		div.event_title p {
			font-size: 14px;
		}
	}
}

/* 
---------- 
Homepage Title
----------
*/

.white_title {
	max-width: 600px;
	margin: 50px auto;
	h1 {
		font-size: 28px;
		margin: auto;
	}
	span {
		font-size: 32px;
	}
}

.home_title {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	grid-gap: 40px;
	@media (min-width: 500px) {
		grid-template-columns: auto 200px;
		grid-gap: 5px;
	}
	img {
		margin: auto;
	}
}

/* 
---------- 
Listings
----------
*/

.page_title {
	width: 100%;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	h1 {
		font-size: 32px;
	}
}

.events {
	max-width: 380px;
	margin: auto;
	margin-bottom: 500px;
	// padding: 10px;
	h4.date_heading {
		padding: 40px 0px;
		font-size: 19px;
	}
	@media (min-width: 500px) {
		max-width: 450px;
	}
	@media (min-width: 650px) {
		max-width: 700px;
	}
	@media (min-width: 780px) {
		max-width: 800px;
	}
	ul {
		display: grid;
		grid-gap: 10px;
		margin-bottom: 20px;
		grid-template-columns: repeat(2, 48.5%);
		margin: auto;
		@media (min-width: 450px) {
			grid-template-columns: repeat(2, 50%);
			max-width: 400px;
		}
		@media (min-width: 650px) {
			grid-template-columns: repeat(3, 33%);
			max-width: 600px;
		}
		@media (min-width: 780px) {
			grid-template-columns: repeat(4, 25%);
			max-width: 800px;
		}
		// @media (min-width: 1000px) {
		// 	grid-template-columns: repeat(5, 20%);
		// 	max-width: 1000px;
		// }
	}
	li {
		border-radius: 5px;
		// box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
		position: relative;
	}
	div.event_image {
		height: 220px;
		overflow: hidden;
		border-radius: 5px 5px 3px 3px;
		@media (min-width: 450px) {
			height: 250px;
		}
	}
	div.popout {
		position: absolute;
		top: 190px;
		right: 10px;
		width: 50px;
		height: 50px;
		background-color: $colour-white;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
		color: $colour_secondary;
		@media (min-width: 450px) {
			top: 215px;
		}
	}
	div.free {
		left: 0px;
		top: 10px;
		height: 30px;
		border-radius: 0px 3px 3px 0px;
		background-color: $colour_secondary;
		color: $colour-white;
	}
	div.description {
		padding: 25px 0px 25px;
		h3 {
			font-size: 19px;
		}
		p {
			font-size: 15px;
			color: #6f7287;
		}
	}
}

.no-events,
.no-events a {
	display: inline;
}

.listings {
	max-width: 500px;
	margin: 0px auto;
	ul {
		margin: 0px 20px;
	}
	li a {
		display: grid;
		grid-template-columns: 20px auto 20px;
		grid-gap: 24px;
		border-top: 1px solid #f1f1f1;
		padding: 20px 0px;

		h2 {
			display: flex;
			align-self: center;
		}

		svg {
			width: 20px;
			height: 20px;
			display: flex;
			align-self: center;
		}

		svg.icon {
			width: 30px;
			height: 30px;
		}
	}
	li:first-child {
		a {
			border-top: none;
		}
	}
}

/* 
---------- 
Event Page
----------
*/

.events_page {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto;
	grid-template-areas: 'details' 'map' 'image' 'description';
	grid-gap: 10px;
	row-gap: 30px;
	padding: 10px;
	@media (min-width: 750px) {
		grid-template-columns: 250px auto;
		grid-template-rows: auto auto;
		grid-template-areas: 'map details' 'image description';
		margin: auto;
		max-width: 800px;
		padding: 40px 10px;
	}

	section.event_map {
		grid-area: map;
		background-color: #e0e0e0;
		border-radius: 5px;
	}

	section.event_details {
		grid-area: details;
		h1 {
			font-size: 30px;
		}
		p.organiser {
			color: $colour-grey;
			padding-left: 2px;
			margin-bottom: 10px;
		}
		p.free {
			margin-top: 10px;
			color: $colour-white;
			border-radius: 3px;
			background-color: $colour_secondary;
			width: 60px;
			text-align: center;
			padding: 5px;
		}
		p.price {
			margin-top: 10px;
		}
		div {
			padding: 10px;
			background-color: #f7f7f7;
			margin-top: 10px;
			border-radius: 5px;

			box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
			display: grid;
			grid-template-columns: auto 100px;
			section:last-child {
				display: flex;
				align-items: center;
				a {
					padding: 7px 10px;
					background-color: $colour_secondary;
					color: $colour-white;
					border-radius: 5px;
				}
			}
		}
	}

	section.event_image {
		grid-area: image;
		height: 360px;
		overflow: hidden;
		border-radius: 5px;
	}

	section.event_description {
		grid-area: description;
		h2 {
			font-size: 24px;
			margin-bottom: 10px;
		}
	}
}

/* 
 ---------- 
 Directory Listings Menu
 ----------
 */

.svg_wrap {
	width: 50px;
	height: 50px;
	padding: 10px;
}
svg {
	fill: $colour-grey;
	width: 30px;
	height: 30px;
}

/* 
 ---------- 
 Directory Listings
 ----------
 */
#e_id {
	display: none;
}
#c_id {
	display: none;
}
#event_lat {
	display: none;
}
#event_lng {
	display: none;
}
#cat_name {
	display: none;
}
#parent_cat_name {
	display: none;
}
.directory {
	display: grid;
	grid-template-columns: 50px auto;
	grid-template-rows: auto;
	grid-template-areas: 'icon listings';
	height: 100vh;
	position: fixed;
	width: 100%;
	padding-bottom: 50px;
	section.icon-list {
		grid-area: icon;
		background-color: $colour-grey-lighter;
		border-right: 1px solid $colour-grey;
		overflow-y: scroll;
		&::-webkit-scrollbar {
			width: 0 !important;
			-ms-overflow-style: none;
			overflow: -moz-scrollbars-none;
		}
	}
	section.dir-listings {
		grid-area: listings;
		overflow-y: scroll;
		z-index: 0;
		&::-webkit-scrollbar {
			width: 0 !important;
			-ms-overflow-style: none;
			overflow: -moz-scrollbars-none;
		}
	}
	section.remove_dir {
		display: none;
	}
	li.menu-list-group {
		&:last-child {
			padding-bottom: 20px;
		}
		div.menu_tab {
			display: flex;
			border-top: 1px solid $colour-grey-lighter;
			border-bottom: 1px solid $colour-grey-lighter;
			h4 {
				display: none;
			}
			&:hover {
				background-color: $colour_primary-light;
				border-top: 1px solid #c9e2ec;
				border-bottom: 1px solid #c9e2ec;
				cursor: pointer;
				div.menu-item {
					h4 {
						color: $colour-grey-darkest;
					}
				}
				svg {
					fill: $colour-grey-darkest;
				}
			}
		}

		div.menu-item {
			display: flex;
			align-self: center;
			padding-left: 5px;
			h4 {
				color: $colour-grey-dark;
			}
		}
		ul {
			margin: 0px;
			li {
				line-height: 30px;
				a {
					padding-left: 30px;
				}
				a.sub_menu_item {
					border-top: 1px solid $colour-grey-lighter;
					border-bottom: 1px solid $colour-grey-lighter;
					&:hover {
						background-color: $colour_primary-light;
						border-top: 1px solid #c9e2ec;
						border-bottom: 1px solid #c9e2ec;
					}
				}
				a.active_sub_menu_item {
					background-color: $colour_primary-light;
					border-top: 1px solid #c9e2ec;
					border-bottom: 1px solid #c9e2ec;
				}
			}
		}
		ul.sub_menu {
			display: none;
		}
		ul.show_submenu {
			display: block;
		}
	}
	li {
		&:first-child {
			a {
				border-top: none;
				&:hover {
					border-top: none;
				}
			}
		}
	}
	section.open_menu {
		li.menu-list-group {
			div.menu_tab {
				h4 {
					display: block;
				}
			}
		}
	}
}
.open_menu {
	width: 185px !important;
	z-index: 50;
}
.page_listings {
	padding: 10px;
	ul {
		max-width: 650px;
		margin: auto;
		position: relative;
	}
	li {
		display: grid;
		grid-template-columns: 110px auto;
		background-color: $colour-grey-lighter;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
		border-radius: 5px 5px 3px 3px;
		margin-bottom: 10px;
		div.promo_image {
			display: inherit;
			overflow: hidden;
		}
		img {
			border-radius: 5px 0px 0px 3px;
			height: 100%;
			width: auto;
			object-fit: cover;
		}
		div.promo_content {
			padding: 10px 0px 2px 10px;
			overflow: hidden;
			a {
				font-size: 14px;
			}
			div.listing_icon {
				display: flex;
				justify-content: flex-end;
				margin-right: 10px;
			}
			svg {
				margin-left: 5px;
				margin-top: 10px;
				height: 25px;
				width: 25px;
				@media (min-width: 450px) {
					margin-left: 10px;
				}
			}
			svg.check {
				cursor: pointer;
			}
			svg.checked {
				fill: #07a5e4;
			}
			div.check_toggle {
				display: none;
			}
			div.check_toggle_clicked {
				display: block;
				color: $colour-white;
				right: 30px;
				position: absolute;
				bottom: 45px;
				background-color: $colour_primary_contrast;
				padding: 10px 20px;
				border-radius: 3px;
				font-size: 14px;
				text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
				box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
			}
			div.toggle_check {
				display: none;
				color: #fff;
				right: 30px;
				position: absolute;
				bottom: 45px;
				background-color: $colour_primary_contrast;
				padding: 10px 20px;
				border-radius: 3px;
				font-size: 14px;
				text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
				box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
			}
			div.toggle_check_clicked {
				display: block;
			}
		}
		h3 {
			font-size: 20px;
		}
	}
	div.link_line {
		margin: 10px 10px 10px 0px;
		overflow: hidden;
		span {
			&:nth-child(2) {
				display: none;
			}
		}
	}
}
@media (min-width: 600px) {
	.directory {
		grid-template-columns: 185px auto;
		li.menu-list-group {
			div.menu_tab {
				h4 {
					display: block;
				}
			}
			ul.active_parent_menu_item {
				display: block;
			}
		}
	}
}
@media (min-width: 700px) {
	.page_listings {
		div.link_line {
			display: inline-flex;
			span {
				&:nth-child(2) {
					display: block;
				}
			}
		}
	}
}

/* 
 ---------- 
 Footer
 ----------
 */
.query_form {
	padding: 0px 0px 130px;
	color: #343434;
	border-top: 1px solid #82d5f7;
	background-color: #d6edf7;
	margin-top: 50px;
}
.query_form h4 {
	text-align: center;
	font-weight: 100;
	padding: 60px 0px 30px;
	font-size: 22px;
}
.query_form .form_query {
	grid-area: form_name;
}
.query_form .form_email {
	grid-area: form_email;
}
.query_form .form_button {
	grid-area: form_button;
}
.query_form form {
	max-width: 365px;
	margin: auto;
	display: grid;
	grid-auto-columns: auto;
	grid-auto-rows: auto;
	grid-template-areas: 'form_query' 'form_email' 'form_button';
}
@media (min-width: 480px) and (max-width: 767px) {
	.query_form form {
		max-width: 445px;
	}
}
@media (min-width: 768px) {
	.query_form form {
		max-width: 800px;
		grid-template-columns: 50% 50%;
		grid-template-areas: 'form_query form_email'
			'form_button form_button';
	}
	.query_form form .form_query,
	.query_form form .form_email {
		padding: 0 20px;
	}
}
.query_form label {
	display: block;
	margin-top: 25px;
	font-weight: 100;
}
.query_form label span {
	padding-left: 10px;
	font-size: 18px;
	color: #ff8600;
	display: inline;
}
.query_form input,
.query_form textarea {
	display: block;
	width: 100%;
	padding: 15px;
	border: 1px solid #82d5f7;
	outline: none;
	border-radius: 5px;
	margin: 0px;
	margin-top: 15px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: 100;
	background-color: #fff;
}
.query_form textarea {
	resize: vertical;
}
.query_form .radio_options {
	margin-top: 0px;
}
.query_form .radio_options span {
	font-weight: 100;
}
.query_form .checkbox_options {
	margin-top: 0px;
	display: grid;
	grid-gap: 10px;
	grid-column: col 3 / span 2;
	grid-row: row 1;
	grid-template-columns: 50px auto;
	grid-template-rows: auto;
}
.query_form .checkbox_options .service_icon {
	grid-column: 1;
	grid-row: 1;
}
.query_form .checkbox_options .optin {
	padding-top: 13px;
}
.query_form .checkbox_options span {
	font-weight: 100;
	grid-column: 2;
	grid-row: 1;
}
.query_form .radio {
	display: inline-flex;
	width: 40px;
	margin-left: 20px;
}
.query_form .form_button {
	width: 200px;
	margin: auto;
	margin-top: 60px;
}
.query_form button {
	width: 100%;
	font-size: 16px;
	padding: 15px;
	/* margin: auto; */
	outline: 0;
	border: 1px solid #fb7615;
	border-radius: 5px;
	background-color: #fb7615;
	color: #fff;
	cursor: pointer;
}
.query_form button:hover {
	background-color: #ff8600;
	border: 1px solid #fb7615;
	color: #fff;
}
.error-message {
	color: red;
	font-size: 14px;
	padding-left: 10px;
	padding-top: 10px;
}
.footer {
	background-color: #292929;
	text-align: center;
	padding-bottom: 10px;
}
.footer h4 {
	text-align: center;
	color: #fff;
	padding: 50px 10px;
	font-weight: 100;
	font-size: 25px;
}
.footer .footer-menu {
	text-align: left;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: auto;
	grid-template-rows: auto;
	padding: 40px 0px 90px 20px;
}
@media (min-width: 480px) and (max-width: 767px) {
	.footer .footer-menu {
		grid-template-columns: auto auto;
	}
}
@media (min-width: 768px) {
	.footer .footer-menu {
		grid-template-columns: 180px 180px 180px 180px;
		width: 768px;
		/* overflow: hidden; */
		margin: auto;
	}
}
.footer h6 {
	text-align: center;
	color: #fff;
	padding: 50px 10px;
	font-weight: 100;
	font-size: 22px;
}
.footer h6 span {
	color: #fff;
}
.footer ul {
	padding: 20px 0px 50px;
}
.footer ul li {
	color: #fff;
	line-height: 26px;
	font-weight: 100;
}
.footer ul li a {
	color: #fff;
}
.footer .contact_box {
	width: 225px;
	margin: auto;
}
.footer .contact_box a {
	color: #fff;
}
.footer p {
	text-align: center;
	color: #fff;
	font-weight: 100;
	padding: 10px;
	font-size: 12px;
}
.footer a.builtby {
	text-align: center;
	color: #fff;
	font-weight: 100;
	font-size: 12px;
}
/* 
 ---------- 
 List Business & Events Pages
 ----------
 */
section.list_link {
	display: flex;
	align-items: center;
	justify-content: center;
}
section.list_link a {
	background-color: #37c2f9;
	padding: 10px 15px;
	text-align: center;
	margin-top: 20px;
	border-radius: 5px;
	color: #fff;
	box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.15);
}
